option_settings:
  - option_name: BUNDLE_DISABLE_SHARED_GEMS
    value: "1"
  - option_name: BUNDLE_PATH
    value: "vendor/bundle"

packages:
  yum:
    git: []

commands:
  00_install_repo:
    test: |
      ! yum list installed | grep pgdg-ami201503-94
    command: rpm -ivh http://yum.postgresql.org/9.4/redhat/rhel-6-x86_64/pgdg-ami201503-94-9.4-1.noarch.rpm
  01_disable_repo_default:
    test: |
      yum repolist enabled | grep pgdg94
    command: yum-config-manager --disable pgdg94
  03_uninstall_old_pg:
    test: |
      yum list installed | grep 'postgresql9[2|3]'
    command: yum erase -y postgresql92 postgresql92-devel postgresql92-libs postgresql93 postgresql93-devel postgresql93-libs
  04_install_new_pg:
    test: |
      ! yum list installed | grep postgresql94
    command: yum --disablerepo="*" --enablerepo="pgdg94" --releasever="7" -y install postgresql94-devel.x86_64
